.ActionButton {
  cursor: pointer;
  border-radius: 20px;
  background: #74f7e1;
  border: none;
  padding: 20px 40px;
  outline: none;
  color: #6749f9;
  font-weight: bold;
  font-size: 18px;
  margin-top: 60px;
  font-family: 'Chango', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
